@import "post.css";

body {
  margin: 0;
}

nav {
  background-color: rgb(241, 92, 92);
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

footer {
  background-color: rgb(109, 109, 248);
}

.home-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 197, 36);
  border-radius: 1em;
  padding: 3em;
  margin: 1em;
}

#home-container {
  display: grid;
  grid-template-rows: 5em 1fr 3em;
  grid-gap: 0;
}

#nav-options {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home-card-container {
  padding: 1em;
  display: grid;
  grid-template-columns: 45vw 45vw;
}
